Repository Politiwatch/privacyspy, pull requests merged in 2020-07, with the labels that each got.

#28 Add BBC's privacy policy
  CONTRIBUTORS.toml
  icons/bbc.png
  products/bbc.toml
Labels: icon, product, size/M

#32 Add link to online TOML validator
  src/templates/pages/contribute/index.hbs
Labels: code, frontend, size/XS

#33 Update BBC icon
  icons/bbc.jpg
  icons/bbc.png
Labels: fast tracked, icon, size/XS

#35 Update donation link
  src/templates/pages/index.hbs
Labels: code, frontend, internal, size/XS

#27 New product VirusTotal
  CONTRIBUTORS.toml
  icons/virustotal.svg
  products/virustotal.toml
Labels: icon, product, size/M

#36 Add Ruqqus to directory
  icons/ruqqus.png
  products/ruqqus.toml
Labels: icon, product, size/M
