Repository Politiwatch/privacyspy, pull requests merged in 2020-06, with the labels that each got.

#14 Fix my email up
  CONTRIBUTORS.toml
Labels: size/XS

#22 Update Calendly (attempt #4)
  products/calendly.toml
Labels: fast tracked, product, size/XS

#24 Fix The Guardian
  products/the-guardian.toml
Labels: product, size/XS

#25 Product addition Esri
  icons/esri.png
  products/esri.toml
Labels: icon, product, size/M

#26 Add newline between multiple sources
  src/templates/pages/product.hbs
Labels: code, frontend, size/XS

#29 Update privacyspy.svg
  icons/privacyspy.svg
Labels: fast tracked, icon, size/XS
