Repository Politiwatch/privacyspy, pull requests merged in 2020-12, with the labels that each got.

#43 Updated Apple
  products/apple.toml
Labels: product, size/S

#44 Fixed several products
  icons/darksky.png
  icons/icloud.png
  icons/shazam.svg
  products/2ndline.toml
  products/aliexpress.toml
  products/amazon.toml
  products/apple.toml
  products/bbc.toml
  products/calendly.toml
  products/darksky.toml
  products/discord.toml
  products/icloud.toml
  products/shazam.toml
  products/verizon.toml
  products/visible.toml
Labels: icon, product, size/M

#47 Updated Ruqqus
  CONTRIBUTORS.toml
  products/ruqqus.toml
Labels: product, size/S

#48 Add Node dependency caching
  .github/workflows/test.yml
Labels: size/S

#49 Update CONTRIBUTORS.toml
  CONTRIBUTORS.toml
Labels: new contributor, size/XS
