Repository Politiwatch/privacyspy, pull requests merged in 2021-07, with the labels that each got.

#105 Fix PrivacySpy's policy URL
  products/privacyspy.toml
Labels: fast tracked, product, size/XS

#107 Fix 1Password quotes to reflect current policy
  products/1password.toml
Labels: product, size/S

#106 Fix misquotes with IONOS 1-1
  products/1-1-ionos.toml
Labels: product, size/S

#110 Update system76 page
  CONTRIBUTORS.toml
  products/system76.toml
Labels: new contributor, product, size/S
