Repository Politiwatch/privacyspy, pull requests merged in 2021-06, with the labels that each got.

#87 Remove Taobao
  icons/taobao.svg
  products/taobao.toml
Labels: icon, internal, product, size/M

#71 Product addition: Element
  CONTRIBUTORS.toml
  icons/element.svg
  products/element.toml
Labels: icon, new contributor, product, size/M

#91 Update protonmail.toml
  products/protonmail.toml
Labels: fast tracked, product, size/XS

#93 Update whatsapp.toml
  products/whatsapp.toml
Labels: fast tracked, product, size/XS

#92 Update protonvpn.toml
  products/protonvpn.toml
Labels: fast tracked, product, size/XS

#95 Update PrivacySpy to current policy
  products/privacyspy.toml
Labels: product, size/S

#96 Fix last updated date on product pages
  gulpfile.ts
  package-lock.json
  package.json
  src/build/utils.ts
  src/parsing/index.ts
  src/parsing/types.ts
  src/templates/pages/product.hbs
  src/tests/product.test.ts
  tsconfig.json
Labels: code, frontend, internal, size/XXL, test

#84 Product addition: Blizzard Entertainment
  icons/blizzard-entertainment.png
  products/blizzard-entertainment.toml
Labels: icon, product, size/M

#103 Add product API endpoint
  gulpfile.ts
  package-lock.json
  src/build/utils.ts
  src/parsing/index.ts
  src/templates/pages/api/index.hbs
  src/templates/pages/api/v2/products.json
Labels: code, frontend, internal, size/XXL
