Repository Politiwatch/privacyspy, pull requests merged in 2021-08, with the labels that each got.

#114 Added information for 'cvieira'
  CONTRIBUTORS.toml
Labels: size/XS, new contributor

#112 Add product Poof Links
  CONTRIBUTORS.toml
  icons/pooflinks.png
  products/pooflinks.toml
Labels: product, icon, size/M, new contributor

#113 Add Grammarly
  CONTRIBUTORS.toml
  icons/grammarly.png
  products/grammarly.toml
Labels: product, icon, size/M, new contributor

#115 Add Khan Academy
  icons/khan-academy.png
  products/khan-academy.toml
Labels: product, icon, size/M
